/node_modules/*
/dict_source/edict
server/pub/pingfang_sc/苹方黑体-极细-繁.ttf
server/pub/pingfang_sc/苹方黑体-极细-简.ttf
server/pub/pingfang_sc/苹方黑体-细-繁.ttf
server/pub/pingfang_sc/苹方黑体-细-简.ttf
server/pub/pingfang_sc/苹方黑体-纤细-繁.ttf
server/pub/pingfang_sc/苹方黑体-纤细-简.ttf
server/pub/pingfang_sc/苹方黑体-中粗-繁.ttf
server/pub/pingfang_sc/苹方黑体-中粗-简.ttf
server/pub/pingfang_sc/苹方黑体-中黑-繁.ttf
server/pub/pingfang_sc/苹方黑体-中黑-简.ttf
server/pub/pingfang_sc/苹方黑体-准-繁.ttf
server/pub/pingfang_sc/苹方黑体-准-简.ttf
server/favourites.json
