<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="pub/style.css" type="text/css" />
    <title>Ducky Dictionary</title>
</head>
<!-- <script id="wordId"><%= //wordId %></script> -->
<body>
    <div id="app">
        <div class="menu">
            <div class="menuitem" id="introduction">
                <span class="ducky">Ducky </span>
                <span class="dictionary">Dictionary</span>
            </div>
            <div class="menuitem" id="search_menuitem">
                <div class="search_bar">
                    <svg id="search_icon" t="1621514735337" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2435" xmlns:xlink="http://www.w3.org/1999/xlink" width="200" height="200"><defs><style type="text/css"></style></defs><path d="M608.8 711c-75.4 0-151-28-209.5-84.3-120.2-115.6-124-307.4-8.4-427.6 115.6-120.2 307.4-124 427.6-8.4 58.2 56 91.2 131.3 92.8 212S882.9 560 827 618.2C767.6 680 688.3 711 608.8 711z m0.1-558.9c-67.5 0-134.8 26.3-185.1 78.7-98.1 102.1-94.9 264.9 7.2 363 102.1 98.1 264.9 94.9 363-7.2 47.5-49.4 73-114.4 71.6-183-1.4-68.6-29.3-132.5-78.8-180-49.7-47.7-113.8-71.5-177.9-71.5z" p-id="2436"></path><path d="M792.9 416.5c-6.2 0-11.3-5-11.4-11.2-0.9-46.1-19.7-89.1-53-121.1-4.5-4.4-4.7-11.6-0.3-16.1 4.4-4.5 11.6-4.7 16.1-0.3 37.6 36.2 59 84.9 60 137.1 0.1 6.3-4.9 11.5-11.2 11.6h-0.2zM134.2 917.1c-5.7 0-11.4-2.1-15.8-6.4-9.1-8.7-9.4-23.2-0.6-32.3l276.8-287.9c8.7-9.1 23.2-9.4 32.3-0.6 9.1 8.7 9.4 23.2 0.6 32.3L150.7 910.1c-4.5 4.6-10.5 7-16.5 7z" p-id="2437"></path></svg>
                    <div class="input_area" id="search" contenteditable="true" placeholder="a"></div>
                </div>
            </div>
            <!-- <div class="menuitem" id="switch_content_word_page"></div> -->
            <div class="menuitem" id="switch_content_search_page">切换到开发用参考页</div>
            <div class="menuitem" id="last_word">上一个单词</div>
            <div class="menuitem" id="next_word">下一个单词</div>
            <div class="menuitem" id="random_word">随机单词</div>
            <div class="bottom menuitem" id="settings">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M2.344,15.271l2,3.46c0.276,0.478,0.888,0.642,1.366,0.365l1.396-0.806c0.58,0.457,1.221,0.832,1.895,1.112V21 c0,0.552,0.447,1,1,1h4c0.553,0,1-0.448,1-1v-1.598c0.674-0.28,1.314-0.655,1.895-1.112l1.396,0.806 c0.477,0.275,1.091,0.11,1.366-0.365l2-3.46c0.275-0.476,0.11-1.091-0.365-1.366l-1.372-0.793C19.973,12.743,20,12.371,20,12 s-0.027-0.743-0.081-1.112l1.372-0.793c0.476-0.275,0.641-0.89,0.365-1.366l-2-3.46c-0.276-0.478-0.888-0.642-1.366-0.365 l-1.396,0.806C16.314,5.253,15.674,4.877,15,4.598V3c0-0.552-0.447-1-1-1h-4C9.447,2,9,2.448,9,3v1.598 c-0.674,0.28-1.314,0.655-1.895,1.112L5.71,4.904C5.231,4.627,4.62,4.791,4.344,5.269l-2,3.46c-0.275,0.476-0.11,1.091,0.365,1.366 l1.372,0.793C4.027,11.257,4,11.629,4,12s0.027,0.743,0.081,1.112l-1.372,0.793C2.233,14.18,2.068,14.795,2.344,15.271z M12,8 c2.206,0,4,1.794,4,4s-1.794,4-4,4s-4-1.794-4-4S9.794,8,12,8z"/></svg>
                设置
            </div>
        </div>
        <div class="content" id="word_page">
            <svg class="star" id="star_unlighted" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M6.516,14.323l-1.49,6.452c-0.092,0.399,0.068,0.814,0.406,1.047C5.603,21.94,5.801,22,6,22 c0.193,0,0.387-0.056,0.555-0.168L12,18.202l5.445,3.63c0.348,0.232,0.805,0.223,1.145-0.024c0.338-0.247,0.487-0.68,0.372-1.082 l-1.829-6.4l4.536-4.082c0.297-0.268,0.406-0.686,0.278-1.064c-0.129-0.378-0.47-0.644-0.868-0.676L15.378,8.05l-2.467-5.461 C12.75,2.23,12.393,2,12,2s-0.75,0.23-0.911,0.589L8.622,8.05L2.921,8.503C2.529,8.534,2.192,8.791,2.06,9.16 c-0.134,0.369-0.038,0.782,0.242,1.056L6.516,14.323z M9.369,9.997c0.363-0.029,0.683-0.253,0.832-0.586L12,5.43l1.799,3.981 c0.149,0.333,0.469,0.557,0.832,0.586l3.972,0.315l-3.271,2.944c-0.284,0.256-0.397,0.65-0.293,1.018l1.253,4.385l-3.736-2.491 c-0.336-0.225-0.773-0.225-1.109,0l-3.904,2.603l1.05-4.546c0.078-0.34-0.026-0.697-0.276-0.94l-3.038-2.962L9.369,9.997z"/></svg>
            <svg class="star" id="star_lighted" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M21.947,9.179c-0.129-0.378-0.47-0.645-0.868-0.676L15.378,8.05l-2.467-5.461C12.75,2.23,12.393,2,12,2 s-0.75,0.23-0.911,0.588L8.622,8.05L2.921,8.503C2.53,8.534,2.193,8.791,2.06,9.16s-0.039,0.782,0.242,1.056l4.213,4.107 l-1.49,6.452c-0.092,0.399,0.069,0.814,0.406,1.047C5.603,21.94,5.801,22,6,22c0.193,0,0.387-0.056,0.555-0.168L12,18.202 l5.445,3.63c0.348,0.232,0.805,0.223,1.145-0.024c0.338-0.247,0.487-0.68,0.372-1.082l-1.829-6.4l4.536-4.082 C21.966,9.976,22.075,9.558,21.947,9.179z"></path></svg>
            <div class="title block">
                <div class="word_id"></div>
                <div class="word_title"></div>
            </div>
            <div class="sounds block">
                <div class="sound">
                    <span class="IPA"></span>
                </div>
            </div>
            <div class="derivatives block">
            </div>
            <div class="subtitle">Meanings</div>
            <div class="meanings block">
            </div>
        </div>
        <div class="content" id="search_page">
            <div class="search_bar">
                <svg id="search_icon_big" t="1621514735337" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2435" xmlns:xlink="http://www.w3.org/1999/xlink" width="200" height="200"><defs><style type="text/css"></style></defs><path d="M608.8 711c-75.4 0-151-28-209.5-84.3-120.2-115.6-124-307.4-8.4-427.6 115.6-120.2 307.4-124 427.6-8.4 58.2 56 91.2 131.3 92.8 212S882.9 560 827 618.2C767.6 680 688.3 711 608.8 711z m0.1-558.9c-67.5 0-134.8 26.3-185.1 78.7-98.1 102.1-94.9 264.9 7.2 363 102.1 98.1 264.9 94.9 363-7.2 47.5-49.4 73-114.4 71.6-183-1.4-68.6-29.3-132.5-78.8-180-49.7-47.7-113.8-71.5-177.9-71.5z" p-id="2436"></path><path d="M792.9 416.5c-6.2 0-11.3-5-11.4-11.2-0.9-46.1-19.7-89.1-53-121.1-4.5-4.4-4.7-11.6-0.3-16.1 4.4-4.5 11.6-4.7 16.1-0.3 37.6 36.2 59 84.9 60 137.1 0.1 6.3-4.9 11.5-11.2 11.6h-0.2zM134.2 917.1c-5.7 0-11.4-2.1-15.8-6.4-9.1-8.7-9.4-23.2-0.6-32.3l276.8-287.9c8.7-9.1 23.2-9.4 32.3-0.6 9.1 8.7 9.4 23.2 0.6 32.3L150.7 910.1c-4.5 4.6-10.5 7-16.5 7z" p-id="2437"></path></svg>
                <div class="input_area" id="search_big" contenteditable="true" placeholder="a"></div>
            </div>
            <hr>
            <div class="hr"></div>
            <div class="search_results">
                <div class="search_result">
                    <div class="search_result_word">
                        <div class="search_result_word_name">language</div>
                        <div class="noun meaning_type">n.</div>
                    </div>
                    <div class="search_result_word_description">
                        [名词] 语言；言语；说话；某种类型的言语（或语言）
                    </div>
                </div>
                <div class="search_result">
                    <div class="search_result_word">
                        <div class="search_result_word_name">languages</div>
                        <div class="noun meaning_type">n.</div>
                        <div class="plural meaning_type">PL</div>
                    </div>
                    <div class="search_result_word_description">
                        [名词] [复数] 语言；言语；说话；某种类型的言语（或语言）
                    </div>
                </div>
                <div class="search_result">
                    <div class="search_result_word">
                        <div class="search_result_word_name">linguist</div>
                        <div class="noun meaning_type">n.</div>
                    </div>
                    <div class="search_result_word_description">
                        [名词] 通晓数国语言的人；语言学家
                    </div>
                </div>
                <div class="search_result">
                    <div class="search_result_word">
                        <div class="search_result_word_name">linguistic</div>
                        <div class="adjective meaning_type">adj.</div>
                    </div>
                    <div class="search_result_word_description">
                        [形容词] 语言的；语言学的
                    </div>
                </div>
                <div class="search_result">
                    <div class="search_result_word">
                        <div class="search_result_word_name">languid</div>
                        <div class="adjective meaning_type">adj.</div>
                    </div>
                    <div class="search_result_word_description">
                        [形容词] 慢悠悠的；慵懒的
                    </div>
                </div>
                <div class="search_result">
                    <div class="search_result_word">
                        <div class="search_result_word_name">languish</div>
                        <div class="verb meaning_type">v.</div>
                    </div>
                    <div class="search_result_word_description">
                        [动词] 被迫滞留；长期受苦；受煎熬；变得衰弱
                    </div>
                </div>
                <div class="search_result">
                    <div class="search_result_word">
                        <div class="search_result_word_name">languished</div>
                        <div class="verb meaning_type">v.</div>
                        <div class="past_participle meaning_type">PP</div>
                    </div>
                    <div class="search_result_word_description">
                        [动词] [过去分词] 被迫滞留；长期受苦；受煎熬；变得衰弱
                    </div>
                </div>
                <!-- example -->
                <div class="search_result" style="/*display:none;*/">
                    <div class="search_result_word" style="height: 10em;display: flex;flex-direction: row;flex-wrap: wrap;">
                        <div class="search_result_word_name">支持词性及其标签样式一览:</div>
                        <div class="noun meaning_type">n.</div>
                        <div class="plural meaning_type">PL</div>
                        <div class="verb meaning_type">v.</div>
                        <div class="verb_transitive meaning_type">vt.</div>
                        <div class="past meaning_type">P</div>
                        <div class="past_participle meaning_type">PP</div>
                        <div class="third_person_singular_present meaning_type">SP3</div>
                        <div class="present_participle meaning_type">PrP</div>
                        <div class="adverb meaning_type">adv.</div>
                        <div class="adjective meaning_type">adj.</div>
                        <div class="preposition meaning_type">prep.</div>
                        <div class="conjunction meaning_type">conj.</div>
                        <div class="article meaning_type">art.</div>
                        <div class="number meaning_type">num.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content" id="setting_page">
            <div class="setting_group" id="word_bank_setting">
                <div class="setting_group_title">词库设置</div>
                <div class="single_setting" id="word_bank_source">
                    <div class="single_setting_title">词库选择</div>
                    <div class="setting_single_selection" id="word_bank_source_select">
                        <div class="choice" id="zk_words">中考</div>
                        <div class="choice" id="gk_words">高考</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="pub/switch_content.js"></script>
    <script src="pub/searching.js"></script>
    <script src="pub/settings.js"></script>
    <script src="pub/star.js"></script>
</body>
</html>